<script id="item_freeform" type="text/x-handlebars-template">

    {{{ html }}}
    {{> item_buttons }}    

</script>


<script id="item_freeform_edit" type="text/x-handlebars-template">

    <div class="html"></div>
    <br/>
    {{> item_edit_buttons }}
    
</script>