module.exports =
    
    # Session (for session token generation)
    sessionSecret: ""
    
    # Amazon S3 config (for media storage)
    s3Key: ""
    s3Secret: ""
    s3Bucket: ""
    
    # Amazon web services (for book search)
    awsId: ""
    awsSecret: ""
    assocId: ""
    
    # Postmark (for sending emails)
    postmarkAPIKey: ""
    