.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

body {
background-color: #c0c9e0;
}
.container { padding: 20px; }

#container_main { background-color: #ffffff; 
padding: 20px; .rounded-corners(10px)}

.section_name {
	color: a31515;
}

.section_item {
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    .rounded-corners
    }
}