@import "../bootstrap/lib/mixins.less";

@font-face {
    font-family: 'HeydingsCommonIconsRegular';
    src: url('heydings_icons-webfont.eot');
    src: url('heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('heydings_icons-webfont.woff') format('woff'),
         url('heydings_icons-webfont.ttf') format('truetype'),
         url('heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.text_icon { font-family: HeydingsCommonIconsRegular;
font-size: 18px;
 }

body {
    background-color: #c0c9e0;
}

#container_main { background-color: #ffffff; 
padding: 40px; .border-radius(10px)}
.container {
    padding: 20px;
}

#login_form {
	margin-top: -50px;
}

.section_name {
	color: a31515;
}

.section_item {
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    position: relative;
    .border-radius;
}

.lecture_list {
    list-style: none;
}

.schedule_topic {
    line-height:20px;
}

.item_add {
	position: absolute;
	right: 10px;
	bottom: 0px;
}

.item_edit {
	position: absolute;
	right: 10px;
}

.item_delete {
	position: absolute;
	left: 10px;
}
.section {	
	position: relative;
}

.btn.row_delete {
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
}
