<script id="root" type="text/x-handlebars-template">

    <div id="container-outer">

        <ul class="pills" id="toptabs">
            <li><a href="/course/">Home</a></li>
            <li><a href="/course/study/">Study</a></li>
            <li><a href="/course/assignment/">Assignments</a></li>
        </ul>

        <div id="container">
            
            <div id="content"></div>
                    
        </div>
        
        <br/>
        
        <a href="#" id="login"></a>
        
        <br/>
        
    </div>    
    
</script>

<script id="item_edit_buttons" type="text/x-handlebars-template">
    <div>
        <button class="save btn success" data-loading-text="Saving..." data-complete-text="Saved">Save</button>
        <button class="cancel btn">Cancel</button>
    </div>
    <div class="errors"></div>
</script>

