<script id="root" type="text/x-handlebars-template">
    <div id="container-outer">
        <div id="toptabs"></div>
        <div id="container">
            <div id="content"></div>
        </div>
        <br/>
        <a href="#" id="login"></a>
        <br/>
    </div>        
</script>

<script id="item_edit_buttons" type="text/x-handlebars-template">
    <div>
        <button class="save btn success" data-loading-text="Saving..." data-complete-text="Saved">Save</button>
        <button class="cancel btn">Cancel</button>
    </div>
    <div class="errors"></div>
</script>

<script id="top_tabs" type="text/x-handlebars-template">
    {{#each models}}
    <li id="toptab_{{ attributes.slug }}"><a href="{{ ../root_url }}{{ attributes.slug }}">{{ attributes.title }}</a></li>
    {{/each}}
</script>
