<h2>{{ title }}</h2 >

<div class="description">{{ description }}</div>

{{#if due }}<br/><b>Due:</b> {{$date due }}<br/>{{/if }}

{{#if _editor }}<button class="item-button edit-button btn success">Edit assignment details</button>{{/if}}
