<h2>Assignments</h2>
<ul>
    {{#each models }}
        <li id="{{ id }}"><a class="open">{{ attributes/title }}</a> (<a class="delete" href="#">delete</a>)</li>
    {{/each}}
</ul>

<button class="add-button btn success">Add assignment</button>
