<div class="content-inner">
     <h2 class='title'>{{ title }}</h2>
     <br/>
     <div class='sections row'></div>
     
         <select class="content-button add-section-type">
             <option value="freeform">Freeform</option>
             <option value="gallery">Gallery</option>
             <option value="">Generic</option>
         </select>
         <button class="content-button add-button btn success">Add section</button>
     <div class="clearfix"></div>
</div> 