<div class="content-inner">
     <h2 class='title'>{{ title }}</h2>
     <button class="content-button add-button btn success">Add section</button>
     <br/>
     <div class='sections row'></div>
</div> 