<p>Name: <input type="text" data="name"/></p>
<p>Title: <input type="text" data="title"/></p>
<p>Email: <input type="text" data="email"/></p>
<p>Phone: <input type="text" data="phone"/></p>
{{>item-edit-buttons}}
