<div class="row span6">
    <dd class="span1">Name:</dd><dt class="span4"><input type="text" data="name"/></dt>
    <dd class="span1">Title:</dd><dt class="span4"><input type="text" data="title"/></dt>
    <dd class="span1">Email:</dd><dt class="span4"><input type="text" data="email"/></dt>
    <dd class="span1">Phone:</dd><dt class="span4"><input type="text" data="phone"/></dt>
</div>
<br/>
{{>item-edit-buttons}}
