<div class="span5">
    <p>Title: <input type="text" class="title" value="{{ title }}"/></p>
    <p>Width: <input type="text" class="width" value="{{ width }}"/></p>
    <p>Blah: <input type="text" class="blah" value="{{ blah }}"/></p>
    <p>
        <input type="button" class="save" value="Save"/>
        <input type="button" class="cancel" value="Cancel"/>
    </p>
    <div class="errors"></div>
</div>
