<p>Title: <input type="text" data="title"/></p>
<p>Width: <input type="text" data="width"/></p>
<p>Blah: <input type="text" data="blah"/></p>
<p>More: <input type="text" data="morestuff"/></p>
<p>Wishlist: <span data-bind="text blah"></span></p>
{{>item-edit-buttons}}
