<h2>Lectures</h2>
<ul>
    {{#each models }}
        <li id="{{ id }}"><a>{{ attributes/title }}</a></li>
    {{/each}}
</ul>

{{#if _editor }}<button class="add-button btn success">Add lecture</button>{{/if}}
