<h2>Lectures</h2>
<ul>
    {{#each models }}
        <li id="{{ id }}"><a class="open">{{ attributes/title }}</a>{{#if ../_editor }} (<a class="delete" href="#">delete</a>){{/if}}</li>
    {{/each}}
</ul>

{{#if _editor }}<button class="add-button btn success">Add lecture</button>{{/if}}
