<h4 class="schedule-item">
    <span class="label type">{{ options.type }}</span>
    <a href="{{ options.url }}" class="title">{{ item.title }}</a>
</h4>
<div class="description">{{ item.description }}</div>