<div class="section-inner">
    <div class="section-button drag-button"></div>
    <h3 class='sectiontitle'>{{ title }}</h3>
    <div class='items row'></div>
    <button class="section-button add-button btn success">Add item</button>
</div>
