<div class="section-inner">
    {{#if _editor }}<div class="section-button drag-button"></div>{{/if}}
    <h3 class='sectiontitle'>{{ title }}</h3>
    <div class='items row'></div>
    {{#if _editor }}
    <button class="section-button add-button btn success">Add item</button>
    <button class="section-button delete-button btn danger">X</button>
    {{/if}}
</div>
