<div class="row span6">
    <dd class="span1">Title:</dd><dt class="span4"><input type="text" data="title"/></dt>
    <dd class="span1">Width:</dd><dt class="span4"><input type="text" data="width"/></dt>
    <dd class="span1">Blah:</dd><dt class="span4"><input type="text" data="blah"/></dt>
    <dd class="span1">More:</dd><dt class="span4"><input type="text" data="morestuff"/></dt>
</div>
<br/>
{{>item-edit-buttons}}