@locale: upper-alpha;

body {
	background-color:#E0F0FF;
}

.trash {
	padding: 4px 6px;
	margin-right: 6px;
}

.middlealign {
	margin-top:10px;
}

.probe {
	max-width: 600px;
	padding: 10px;
	border-radius: 15px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888;
	ol {
		counter-reset: list;
		li {
			width: 250px;
			float:left;
			padding:16px 0px;
			font-size:16px;
			&:before{
				font-style: italic;
				content: counter(list, @locale) ". ";
				counter-increment: list;
			}
			&.select {
				font-weight: bold;
			}
		}
	}

}

.proberesponse {
	max-width: 600px;
	padding: 10px;
	border-radius: 15px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888;
}

div #feedback {
	display: none;
	
}

.display {
	&.editing {
		display:none;
	}
}

.edit {
	display:none;
	&.editing {
		display:block;
	}
}

.probeedit {
	width: 600px;
	padding: 10px;
	border-radius: 15px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888;
	.question {
		width: 590px;
	}
	.answerlist {
		margin-top:20px;
		.row-fluid {
			margin-bottom:15px;
			border-bottom: 5px solid #BBBBBB;
		}
	}

	.inline {
		display:inline;
	}
	textarea.question {
		font-size: 18px;
		}
	.display {
		border: 1px solid #DDDDDD;
		background-color: #EEEEEE;
	}
	div.text {
		padding: 4px 4px;
		p {
			font-size: 16px;
			text-align: justify;
		}
		input {
			height: 30px;
			font-size: 16px;
			width: 100%;
		}
	}
}
