<script id="page" type="text/x-handlebars-template">

    <div class="contents"></div>
    <div class="navigation">
        <h4>Contents</h4>
        <ul class="nav-links"></ul>
        <button class="page-button add-button btn success editor-only">Add subpage</button>
    </div>
    
</script>


<script id="page_nav_row" type="text/x-handlebars-template">

    <a href="{{ url }}page/{{ id }}/">{{ title }}</a>
    
</script>