<script id="admin_list" type="text/x-handlebars-template">
    

</script>

<script id="admin" type="text/x-handlebars-template">
<a class="btn info"href = "/course/nuggets/514df2ae400a59290a000054/quiz/edit"> edit pretest </a>
<a href="../glossary" class="btn info">View Glossary Items</a>   
</script>