<script id="content" type="text/x-handlebars-template">

    <div class="content-inner">

         <h3 class='title'>{{ title }}</h3>
         
         <br/>
         <div class='sections row'></div>
         
         <div class="editor-only">
             <select class="content-button add-section-type">
                 <option value="freeform">Freeform</option>
                 <option value="gallery">Gallery</option>
                 <option value="">Generic</option>
             </select>
             <button class="content-button add-button btn success">Add section</button>
         </div>

         <div class="clearfix"></div>
    </div> 
    
</script>


<script id="section" type="text/x-handlebars-template">

    <div class="section-inner">
        <span class="editor-only"><div class="section-button drag-button"></div></span>
        <h3 class='sectiontitle'>{{ title }}</h3>
        <div class='items row'></div>
        
        <div class="editor-only">
            <button class="section-button add-button btn success">Add item</button>
            <button class="section-button delete-button btn danger">X</button>
        </div>
        
    </div>

</script>
