@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";
@import "globals.less";

.page .navigation {
    float: right;
    width: 200px;
    border: 2px solid black;
}

.page .contents {
    float: left;
    width: 700px;
    border: 2px solid black;
}