<script id="glossary_list" type="text/x-handlebars-template">
    <ul>
        {{#each models }}
        <li>{{ name }}</li>
        {{/each}} 
    </ul>
</script>

<script id="glossary" type="text/x-handlebars-template">
    <div class='glossaryitem'>
    {{{ html }}}
    </div>

</script>