<script id="item_freeform" type="text/x-handlebars-template">

    {{{ html }}}
    <div class="clearfix"></div>
    {{> item_buttons }}    

</script>


<script id="item_freeform_edit" type="text/x-handlebars-template">

    <textarea class="ckeditor">{{{ html }}}</textarea>
    <br/>
    {{> item_edit_buttons }}
    
</script>